<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"     
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.framework.core.service.dao.IWechatTempDao">
	<select id="findByOpenId" parameterType="string" resultType="wechatTemp">
		SELECT * FROM wechat_temp WHERE open_id = #{openid} limit 1
	</select>
	<insert id="insert" parameterType="wechatTemp" useGeneratedKeys="true"
		keyProperty="tempId">
		INSERT INTO wechat_temp (
		open_id,
		nickname,
		province,
		city,
		headimgurl,
		sex,
		time,
		lon,
		lat
		)VALUES(
		#{openId},
		#{nickname},
		#{province},
		#{city},
		#{headimgurl},
		#{sex},
		#{time},
		#{lon},
		#{lat})

	</insert>
</mapper>